---
to: '{{form.email}}'
from: '{{context.constants.email_event_subscription_from_name}} <{{context.constants.email_event_subscription_from}}>'
reply_to: '{{context.constants.email_event_subscription_reply_to}}'
subject: 'Event Subscription'
layout: mailer
---
<h1>Hi {{ form.name }}!</h1>

<p>Welcome aboard!</p>
<p>You have just subscribed to watch the event {{ form.event_name }} that's gonna happen on {{ form.event_date }}.</p>
<p>See you there! Thank you!</p>